/* line 4, ../sass/partials/_base.scss */
html {
  position: relative;
  min-height: 100%;
  background: #FCD116;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIyNzBweCIgc3RvcC1jb2xvcj0iI2ZjZDExNiIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMDAzZjg3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(270deg, #fcd116 270px, #003f87 90%);
  background-image: -webkit-linear-gradient(270deg, #fcd116 270px, #003f87 90%);
  background-image: linear-gradient(180deg, #fcd116 270px, #003f87 90%);
  margin: 0;
}
@media screen and (min-width: 769px) {
  /* line 4, ../sass/partials/_base.scss */
  html {
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIxNjBweCIgc3RvcC1jb2xvcj0iI2ZjZDExNiIvPjxzdG9wIG9mZnNldD0iOTAlIiBzdG9wLWNvbG9yPSIjMDAzZjg3Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
    background-size: 100%;
    background-image: -moz-linear-gradient(270deg, #fcd116 160px, #003f87 90%);
    background-image: -webkit-linear-gradient(270deg, #fcd116 160px, #003f87 90%);
    background-image: linear-gradient(180deg, #fcd116 160px, #003f87 90%);
  }
}

/* line 17, ../sass/partials/_base.scss */
body {
  font: normal 1.1em/1.5 sans-serif;
  color: #003F87;
  margin: 0 0 50px;
  /* bottom = footer height */
}

/* line 23, ../sass/partials/_base.scss */
.main-container {
  width: 90%;
  padding: 0 2.5% 0% 2.5%;
  margin: auto;
  margin-top: 270px;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PGxpbmVhckdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJvYmplY3RCb3VuZGluZ0JveCIgeDE9IjAuNSIgeTE9IjAuMCIgeDI9IjAuNSIgeTI9IjEuMCI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjAiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMWUxZTEiIHN0b3Atb3BhY2l0eT0iMC41Ii8+PC9saW5lYXJHcmFkaWVudD48L2RlZnM+PHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgZmlsbD0idXJsKCNncmFkKSIgLz48L3N2Zz4g');
  background-size: 100%;
  background-image: -moz-linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(225, 225, 225, 0.5));
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, 0), rgba(225, 225, 225, 0.5));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, 0), rgba(225, 225, 225, 0.5));
}
@media screen and (min-width: 769px) {
  /* line 23, ../sass/partials/_base.scss */
  .main-container {
    margin-top: 160px;
  }
}

/* line 34, ../sass/partials/_base.scss */
a {
  text-decoration: none;
  color: #0057ba;
}
/* line 37, ../sass/partials/_base.scss */
a:focus {
  color: #004ba1;
}
/* line 40, ../sass/partials/_base.scss */
a:hover {
  color: #feefad;
}

/* line 45, ../sass/partials/_base.scss */
li {
  list-style: none;
}

/* line 49, ../sass/partials/_base.scss */
form {
  width: 90%;
  margin: auto;
  box-sizing: border-box;
}
/* line 53, ../sass/partials/_base.scss */
form td {
  padding: 5px 0 5px 10px;
}

/* line 58, ../sass/partials/_base.scss */
textarea, input {
  min-width: 220px;
  width: 80%;
}

/* line 64, ../sass/partials/_base.scss */
h1, h2, h3, p {
  margin: 0;
}

/* line 68, ../sass/partials/_base.scss */
.group {
  clear: both;
}
/* line 17, ../sass/modules/_mixins.scss */
.group::after {
  content: '';
  display: table;
}

/* line 72, ../sass/partials/_base.scss */
p {
  text-indent: 50px;
}
/* line 74, ../sass/partials/_base.scss */
p.yellow {
  color: #FCD116;
}
/* line 77, ../sass/partials/_base.scss */
p.no-indent {
  text-indent: 0;
}

/* line 82, ../sass/partials/_base.scss */
p #yellow {
  color: #FCD116;
}

/* line 3, ../sass/partials/_nav.scss */
.main-header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 270px;
  z-index: 100;
}
@media screen and (min-width: 769px) {
  /* line 3, ../sass/partials/_nav.scss */
  .main-header {
    height: 160px;
  }
}

/* line 14, ../sass/partials/_nav.scss */
nav {
  margin: 0;
  z-index: 100;
  opacity: 100;
  background-color: #FCD116;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  padding: 20px 20px;
}
/* line 23, ../sass/partials/_nav.scss */
nav ul {
  display: -webkit-flex;
  display: flex;
  height: 100%;
  -webkit-flex-direction: column;
  flex-direction: column;
}
/* line 27, ../sass/partials/_nav.scss */
nav ul li {
  -webkit-align-self: stretch;
  align-self: stretch;
  -webkit-flex-grow: 1;
  flex-grow: 1;
  margin: 0 8px;
}
@media screen and (min-width: 769px) {
  /* line 35, ../sass/partials/_nav.scss */
  nav ul {
    -webkit-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  /* line 38, ../sass/partials/_nav.scss */
  nav ul li {
    -webkit-align-self: center;
    align-self: center;
    display: block;
    font-size: 0.55em;
    text-align: center;
    padding: 8px 5px;
    border-radius: 5px;
    background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4gPHN2ZyB2ZXJzaW9uPSIxLjEiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGRlZnM+PHJhZGlhbEdyYWRpZW50IGlkPSJncmFkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwM2Y4NyIvPjxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwNmVlYyIvPjwvcmFkaWFsR3JhZGllbnQ+PC9kZWZzPjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIGZpbGw9InVybCgjZ3JhZCkiIC8+PC9zdmc+IA==');
    background-size: 100%;
    background-image: -moz-radial-gradient(#003f87, #006eec);
    background-image: -webkit-radial-gradient(#003f87, #006eec);
    background-image: radial-gradient(#003f87, #006eec);
  }
  /* line 46, ../sass/partials/_nav.scss */
  nav ul li a {
    color: #FCD116;
  }
}
@media screen and (min-width: 1000px) {
  /* line 58, ../sass/partials/_nav.scss */
  nav ul li {
    font-size: .8em;
    padding: 10px;
  }
}

/* line 65, ../sass/partials/_nav.scss */
.main-logo:first-child {
  margin-right: 50px;
  flex-grow: 1.5;
}

/* Position iframe relatively to screen size */
/* line 3, ../sass/partials/_iframe.scss */
.myiframe {
  position: relative;
  padding-bottom: 90.25%;
  padding-top: 30px;
  height: 50%;
  overflow: hidden;
  margin-top: 10px;
  z-index: 50;
}

/* line 15, ../sass/partials/_iframe.scss */
.myiframe iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 55;
}

/* line 25, ../sass/partials/_iframe.scss */
.google_cal {
  width: 90%;
  margin: auto;
}
/* line 30, ../sass/partials/_iframe.scss */
.google_cal.small {
  display: block;
}
/* line 33, ../sass/partials/_iframe.scss */
.google_cal.large {
  display: none;
}
@media screen and (min-width: 769px) {
  /* line 37, ../sass/partials/_iframe.scss */
  .google_cal.large {
    display: block;
  }
  /* line 40, ../sass/partials/_iframe.scss */
  .google_cal.small {
    display: none;
  }
}

/* This provides for a footer to the bottom of the page or scrolls off the bottom
Make sure the body bottom margin is the same as teh footer height.  This is set up with the variable $footerHeight.  html min-height needs to be 100% also.*/
/* line 5, ../sass/partials/_footer.scss */
footer {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 50px;
  width: 100%;
  color: #FCD116;
  font-size: .7em;
  margin: auto;
  text-align: center;
}
/* line 15, ../sass/partials/_footer.scss */
footer p {
  margin: auto;
  padding-top: 16.66667px;
}
