//@import "../modules/_var.scss";
html {
    position: relative;
    min-height: 100%;
    background: $cubYellow;
    background-image: linear-gradient(180deg, $cubYellow 10%, $cubBlue 90%);
}

body {
	font: normal 1.1em/1.5 sans-serif;
	color: $cubBlue;
}

.main-container {
	width: 90%;
	margin: auto;
    background: $el-bgnd;
}

footer {
    color: $cubYellow;
    font-size: .7em;
    margin:auto;
}

.yellow {
    color: $cubYellow;
}
//
//.container {
//    width: 90%;
//    align-content: center;
//}
