/* This provides for a footer to the bottom of the page or scrolls off the bottom */


html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 $footerHeight; /* bottom = footer height */
}

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footerHeight;
    width: 100%;
}
