/* Position iframe relatively to screen size */

.myiframe {
    position: relative;
    padding-bottom: 90.25%;
    padding-top: 30px;
    height: 50%;
    overflow: hidden;
    border: solid black 1px;
}


.myiframe iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

.google_cal {
    //@mixin google-ratio(90%);
    display: block;
    width: 90%;
    margin: auto;

//    min-height: 300px;
//    min-width: 400px;
}

