/* This provides for a footer to the bottom of the page or scrolls off the bottom
Make sure the body bottom margin is the same as teh footer height.  This is set up with the variable $footerHeight.  html min-height needs to be 100% also.*/
@import "compass/css3";

footer {
    position: absolute;
    left: 0;
    bottom: 0;
    height: $footerHeight;
    width: 100%;
    color: $cubYellow;
    font-size: .7em;
    margin:auto;
    text-align: center;
    p {
        margin:auto;
//        text-align: center;
        padding-top: $footerHeight/3;
    }
}
