@import "compass/css3";

.main-header {
    position: fixed;
    top: 0;
    width: 100%;
    height: $header-height;
    z-index: 100;
    @media screen and (min-width: $med-break) {
        height: $header-height-large-screen;
    }
}

nav {
    margin: 0;
    z-index: 100;
    opacity: 100;
    background-color: $cubYellow;
    @include display-flex(flex);
    @include flex-direction(row);
    padding: 20px 20px;

    ul {
        @include display-flex(flex);
        height: 100%;
        @include flex-direction(column);
        li {
            @include align-self(stretch);
            @include flex-grow(1);
            margin: 0 8px;
        }
    }

    @media screen and (min-width: $med-break) {
        ul {
            @include flex-direction(row);
            @include flex-wrap(wrap);
            li  {
                @include align-self(center);
                display: block;
                font-size: 0.55em;
                text-align: center;
                padding: 8px 5px;
                border-radius: 5px;
                @include button-background;
                a{
                color: $cubYellow;
                    &:hover {

                    }

                }
            }
        }
    }

    @media screen and (min-width: $large-break) {
        ul li {
            font-size: .8em;
            padding: 10px;
        }
    }
}

.main-logo:first-child {
    margin-right: 50px;
    flex-grow: 1.5;
}

