
//Use for Flexbox and filling browser page
$header-height: 270px;
$header-height-large-screen: 160px;
$footerHeight: 50px;

//break points for media querries
$small-break: 480px;
$med-break: 769px;
$large-break:1000px;

//color scheme
$cubBlue: #003F87;
$cubYellow: #FCD116;
$text: $cubBlue;
$link: lighten($cubBlue, 10%);
$hover: lighten($cubYellow, 30%);
$focus: lighten($cubBlue, 5%);



$el-bgnd: rgba(225,225,225, 0.5); //background for elements

